<app-navbar></app-navbar>

<div class="container">
    <table class="table table-hover table-responsive-md table-fixed">
        <thead>
          <tr class="table-dark">
            <th>ESTUDIANTE</th>
            <th>CODIGO</th>
            <th>GENERO</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of estudiantesList">
            <!-- <td *ngIf="item.genero ==='F'">{{item.apellido | uppercase}}, {{item.nombre}}</td> -->
            <td>{{item.apellido | uppercase}}, {{item.nombre}}</td>
            <!-- <td *ngIf="item.genero ==='F'">{{item.codigo}}</td> -->
            <td>{{item.codigo}}</td>
            <!-- <td *ngIf="item.genero ==='F'">{{item.genero}}</td> -->
            <td >{{item.sexo}}</td>
          </tr>
        </tbody>
      </table>
</div>